body {
	margin : 0;
	padding : 0;
	background-color : #14111e;
	padding-top : 20px;
	width : 100%;
	min-width : 1200px;
}
/*Header et Menu*/
header {
	width : 100%;
	height : 150px;
	text-align: center;
}
figure.header_left {
	margin-right : 100px ;
	display : inline-block;
	margin-left : 100px ;
}
figure.header_right {
	margin-left : 100px ;
	display : inline-block;
}

nav {
	width :100%;
	background-image : url("../img/menu/bandeau_menu.png");
	height : 35px;
}
nav ul {
	list-style-type:none;
	margin-left : 100px;
}
nav ul li {
	display: inline-block;
	font-size : 22px;
	vertical-align : top;
	padding-right : 7px;
	padding-left : 7px;
}
nav ul li a {
	font-style : none;
	color : #222222;
}

#logo {
	margin-top : -20px;
}
#sortie {
	float : right;
	margin-top : -10px;
	font-size : 20px;
}
#connexion {
	float : right;
	height: 36px;
	font-size : 20px;
	background-color: #6e0b14;
	color : #ffd200;
}
#connexion a {
	color : #ffd200;
}
#connexion a:hover, a:focus {
	color : #dddddd;
}
/*Fin header et menu*/
/*Footer*/
footer {
	position : relative;
	bottom : 0px;
	background-image:linear-gradient(#6e0b14, #1A0000);
	/*background-color : #6e0b14;*/
	border-top : 3px solid;
	border-color : black;
	height : 230px;
}
footer p {
	color : #ffba00;
}

#information {
	padding : 20px;
	width : 900px;
}
#information p{
	margin : 0;
}
#copyright {
	position : absolute;
	bottom : 0px;
	margin : 0px;
	width : 100%;
	text-align: center;
	background-color: #222222;
	color : #9f9f9f;
}
/*Fin Footer*/
/*Main conteneur*/
main {
	margin-left : 50px;
	margin-right : 50px;
	min-width: 730px;
	margin-top : 20px;
}
/*Fin main*/
/*Conteneurs classiques*/
section {
	padding : 30px;
	width : 100%;
	margin : 10px;
	margin-bottom : 20px;
	margin-top : 20px;
}
aside {
	padding : 20px;
	margin : 10px;
	margin-bottom : 20px;
	margin-top : 20px;
}
/*Fin conteneurs classiques*/

/*Classe conteneurs*/
.cadre_gris {
	background-color : #e1e1e1;
	border: 5px solid;
	border-color: #f8f8f8 #838383 #787878 #dedede;

}
.cadre_jaune {
	background-color :  #DE8B0E;
	border : 4px solid;
	border-color : #f6c653 #bd6a23 #b6631f #e8ab4a;
}
/*Fin classe conteneurs*/
/*Titre et texte*/
h1, h2, h3, h4, h5, h6 {
	font-family: Arial;
	color : #DE8B0E;
}
h1 {
	font-size: 50px;
}
h2 {
	font-size: 40px;
}
h3 {
	font-size: 25px;
}
h4 {
	font-size: 20px;
}
h5 {
	font-size: 15px;
}
h6 {
	font-size: 10px;
}

.text_light {
	color : #fff;
}

p {
	font-family: Arial;
	color : #202020;
}
/*Fin titre et texte*/
/*Boutons et liens*/
.button_red {
	font-family : Arial;
	color : #FFB800;
	background-color : #6e0b14;
	padding:1.3em;
	border-radius: 2px;
}
.button_gold {
	font-family : Arial;
	color : #fff;
	background-color : #DE8B0E;
	padding:1.3em;
	border-radius: 2px;
}
.button_gold:hover, .button_gold:focus {
		background-color : #FFB800;
}
.button_red:hover, .button_red:focus {
		background-color : #b10010;
}
a {
		color : #FFB800;
}
a:hover, a:focus {
	color : #dddddd;
}
/*Fin boutons et liens*/
/*Formulaire*/
fieldset {
	border: 1px solid #DE8B0E;
}
fieldset legend {
	background-color : #DE8B0E;
}
form label {
	color : #bbbbbb;
	font-size : 1em;
}


/*Annelyse*/
div.message{
    text-align: center;
    cursor: pointer;
    display: block;
    font-weight: normal;
    padding: 0 1.5rem 0 1.5rem;
    transition: height 300ms ease-out 0s;
    background-color: #a0d3e8;
    color: #626262;
    top: 15px;
    right: 15px;
    z-index: 999;
    overflow: hidden;
    height: 50px;
    line-height: 2.5em;
    box-radius: 5px;
}
.error-message{
    background-color: #a81522;
    color: #FFF;
}
