body {
margin : 0;
padding : 0;
background-color : #14111e;
padding-top : 20px;
min-width : 850px;
}
/*Header et Menu*/
header {
	width : 100%;
	height : 130px;
	text-align: center;
	margin-bottom: 40px;
}
figure.header_left {
	margin-right : 140px ;
	display : inline-block;
}
figure.header_right {
	margin-left : 140px ;
	display : inline-block;
}

nav {
width :100%;
background-image : url("../img/menu/bandeau_menu.png");
height : 35px;
}
nav ul {
list-style-type:none;
}
nav ul li {
display: inline-block;
font-size : 22px;
vertical-align : top;
padding-right : 7px;
padding-left : 7px;
}
nav ul li a {
font-style : none;
color : #222222;
}

#logo {
	margin-top : -20px;
}
#sortie {
	float : right;
	margin-top : -10px;
	font-size : 20px;

}
/*Fin header et menu*/
/*Footer*/
footer {
position : relative;
bottom : 0px;
background-image:linear-gradient(#6e0b14, #1A0000);
/*background-color : #6e0b14;*/
border-top : 3px solid;
border-color : black;
height : 190px;
}
footer p {
	color : #ffba00;
}
#information {
	margin : 20px;
}
#information p{
	margin : 0;
}

#copyright {
position : absolute;
bottom : 0px;
margin : 0px;
width : 100%;
text-align: center;
background-color: #222222;
color : #9f9f9f;
}
/*Fin Footer*/

aside.details {
background-color :  #DE8B0E;
border : dotted 2px;
border-color : #e76a00;
width : 300px;
padding : 20px;
}

h1, h2, h3, h4, h5, h6 {
color : #DE8B0E;
}

h1 {
font-size: 50px;
}
h2 {
font-family: Arial;
font-size: 40px;
}
h3 {
font-size: 25px;
}
h4 {
font-size: 20px;
}
h5 {
font-size: 15px;
}
h6 {
font-size: 10px;
}
.title_red {
color : #c20000;
}

.title_grey {
color : #202020;
}

.text_light {
color : #fff;
}


p {
font-family: Arial;
color : #202020;
}



section.cadre_gris {
border: 5px solid;
border-color: #f8f8f8 #838383 #787878 #dedede;
background-color : #e1e1e1;
margin : 50px;
padding : 30px;
}

section.petit {
border: 5px solid;
border-color : #f6c653 #bd6a23 #b6631f #e8ab4a;
background-color : #e1e1e1;
margin : 50px;
padding : 30px;
width : 50%;
float : left;
}

.button_red {
font-family : Arial;
color : #FFB800;
background-color : #6e0b14;
padding:1.3em;
width: 7em;
border-radius: 2px;
}
