p{
	margin: 0.5em;
}

#sliderPerso{
    text-align: center;
}

dd{
    margin-top: 0.8em;
    text-indent:30px
}

dt img{
    margin-right: 1em;
}

#intro {
	float : left;
	width : 60%;
	min-width: 700px;
	padding-right : 10px;
}
.news {
	float : left;
	width : 20%;
	min-width : 200px;
}
