
/*Damier carte*/
#damier tbody td,tr{
  border: 1px solid black;
  width: 48px;
  height: 48px;
  max-width: 48px;
  max-height: 48px;
  padding: 2px;
  margin  : 0;
  background: transparent !important;
border : none;
}
#damier {
  border : none;
  vertical-align:top;
  float : left;
  margin : 0;
  background-image: url('../../img/sprites/background_grass.png');
}
/*Fin damier*/
/*Conteneurs Interface*/
#interface_gauche {
  padding : 0;
  margin : 0;
  display: inline-block;
  width :920px;
}
#interface_action{
  width: 200px;
  display : inline-block;
  margin : 0px;
  padding : 5px;  vertical-align:top;
  height : 585px;
}
#interface_fighter{
  width: 200px;
  float : left;
  vertical-align:top;
  margin : 0px;
  padding : 5px;
  height : 480px;
}

#events{
  width: 920px;
  padding : 5px;
  margin : 0;
  float : left;
}

/*Fin conteneurs*/
/*Tableaux*/
.tab_action {
  background-color: transparent;
  border : none;
}
.tab_action td,.tab_action tr {
  margin : 0px;
  padding : 0px;
  border: none;
  background: transparent !important;
  max-height: 58px;
}
.tab_action td{
  width : 58px;
  height : 58px;
  max-width: 58px;
  background-color: transparent;
  padding : 0px;
  text-align: center !important;
}
.part {
    float : left ; 
    width : 50%;
}
.little_tab th, .little_tab tr, .little_tab td{
  padding : 1px;
  height : 5px;
}
/*Fin tableaux*/
.button_action {
  width : 55px;
  height : 55px;
  padding : 0px;
  margin : 0px;
  font-size: 1em;
  border-radius: 2px;
}
#left_title {
  float : left;
}


/** manage custom tooltip **/

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltiptext {
    visibility: hidden;
    width: 100px;
    background-color: black;
    color: #FFB800;
    text-align: center;
    padding: 5px 0 !important;
    border-radius: 6px;

    position: absolute;
    z-index: 10;
}

/* Show the tooltip text when you mouse over the tooltip container */
td:hover .tooltiptext {
    visibility: visible;
    background-color: #6e0b14;
}