
/** sylesheet of champions page **/
#main-content{
    min-width:650px;
    max-width:800px;
    margin: auto;
}

#main-content p{
    color:#e9ebee;
}

#radioskils{
    min-width:150px;
    max-width: 200px;
    margin:0;
}

.linklevelup{
    padding:0px 2px 0px 2px;
    margin:0px;
    color:#FFB800;
    background: #6e0b14;
}


#fighterslider{
    /*background-color: white;*/
    min-height:120px;
    max-width: 300px;
    margin:5px 15px 20px 5px ;
}

.bx-wrapper{
    margin-left:2px !important;
}

.bx-viewport{
    height:130px !important;
    width:250px !important;

}
.bx-viewport li{
    width:240px !important;
}

.bx-wrapper .bx-next {
    right: -95px !important;
}

.bx-wrapper .bx-prev {
    left: 5px !important;
}
